<!-- ko if: (isVisible()) -->
<div class="place-order-button">
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action primary checkout" type="submit" data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')},
                    css: {disabled: !isPlaceOrderActionAllowed()}
                    " title="Place Order">
                <span data-bind="i18n: 'Place Order'">Place Order</span>
            </button>
        </div>
    </div>
</div>
<!--/ko-->
