<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2016 www.cmsmart.net
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cmsmart_Marketplace::marketplace" title="Marketplace" module="Cmsmart_Marketplace" sortOrder="50" resource="Cmsmart_Marketplace::marketplace" />
        <add id="Cmsmart_Marketplace::marketplace_seller" title="Manage Sellers" module="Cmsmart_Marketplace" sortOrder="10" parent="Cmsmart_Marketplace::marketplace" action="marketplace/seller" resource="Cmsmart_Marketplace::marketplace_seller"/>
        <add id="Cmsmart_Marketplace::marketplace_product" title="Manage Products" module="Cmsmart_Marketplace" sortOrder="20" parent="Cmsmart_Marketplace::marketplace" action="marketplace/product" resource="Cmsmart_Marketplace::marketplace_product"/>
        <add id="Cmsmart_Marketplace::marketplace_order" title="Manage Orders" module="Cmsmart_Marketplace" sortOrder="30" parent="Cmsmart_Marketplace::marketplace" action="marketplace/order" resource="Cmsmart_Marketplace::marketplace_order"/>
        <add id="Cmsmart_Marketplace::marketplace_transaction" title="Manage Transactions" module="Cmsmart_Marketplace" sortOrder="40" parent="Cmsmart_Marketplace::marketplace" action="marketplace/transaction" resource="Cmsmart_Marketplace::marketplace_transaction"/>
        <add id="Cmsmart_Marketplace::marketplace_vacation" title="Manage Vacations" module="Cmsmart_Marketplace" sortOrder="50" parent="Cmsmart_Marketplace::marketplace" action="marketplace/vacation" resource="Cmsmart_Marketplace::marketplace_vacation"/>
        <add id="Cmsmart_Marketplace::marketplace_locator" title="Manage Seller Locator" module="Cmsmart_Marketplace" sortOrder="50" parent="Cmsmart_Marketplace::marketplace" action="marketplace/locator" resource="Cmsmart_Marketplace::marketplace_locator"/>
        <add id="Cmsmart_Marketplace::marketplace_setting" title="Settings" module="Cmsmart_Marketplace" sortOrder="90" parent="Cmsmart_Marketplace::marketplace" action="adminhtml/system_config/edit/section/cmsmart_mp" resource="Cmsmart_Marketplace::marketplace_setting"/>
    </menu>
</config>