<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2016 www.cmsmart.net
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cmsmart_mp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Marketplace</label>
            <tab>cmsmart</tab>
            <resource>Cmsmart_Marketplace::marketplace_setting</resource>

            <group id="landing_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>LandingPage Settings</label>
                <field id="layout_type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout Type</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\LandingPage</source_model>
                </field>
                <field id="seller_id" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sellers</label>
                    <depends>
                        <field id="layout_type">3</field>
                    </depends>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Sellers</source_model>
                    <comment>Show maximum 4 stores</comment>
                </field>
            </group>

            <group id="store_settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Settings</label>
                <field id="adminemail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Email</label>
                </field>
            </group>

            <group id="account" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account Settings</label>
                <field id="term_and_condition" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Term And Condition</label>
                    <frontend_model>Cmsmart\Marketplace\Block\TextArea</frontend_model>
                </field>
            </group>

            <group id="product_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Settings</label>
                <field id="attributesetid" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute Set ID</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Attributesetid</source_model>
                </field>
                <field id="allow_product_type" translate="label comment" sortOrder="20" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Type For Seller</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Producttype</source_model>
                </field>
                <field id="sku_type" translate="label comment" sortOrder="30" type="select" showInDefault="1">
                    <label>Sku Type Allowed</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\SkuType</source_model>
                </field>
                <field id="sku_prefix" translate="label comment" sortOrder="40" type="text" showInDefault="1">
                    <label>Product Sku Prefix</label>
                    <depends>
                        <field id="sku_type">dynamic</field>
                    </depends>
                    <comment>e.g if sku prefix = "abc" then your product sku will be as abc-productsku</comment>
                </field>
                <field id="product_approval" translate="label comment" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Approval Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_edit_approval" translate="label comment" sortOrder="60" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Update Approval Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="allow_associated_product" translate="label comment" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Associated Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="order_settings" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Settings</label>
                <field id="order_approval" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Approval Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="commission" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Commission Default</label>
                <field id="amount" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amount</label>
                </field>
                <field id="fixed_or_percentage" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fixed or Percentage</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Commission\Option</source_model>
                </field>
                <field id="type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type</label>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Commission\Type</source_model>
                </field>
            </group>

            <group id="email_setting" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="product_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Product Information Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="pay_seller_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Payment Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="account_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Registration Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="contact_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Communication Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="seller_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Confirmation Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="admin_product_email_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Product Confirmation Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>

            <group id="locator" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Seller Locator</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="google_api" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Map API Key</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment><![CDATA[Click <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">here</a> to get Google API Key]]></comment>
                </field>
                <field id="distance_unit" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Distance Unit</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <source_model>Cmsmart\Marketplace\Model\Config\Source\Locator\DistanceUnit</source_model>
                    <comment>Unit to measure distance between store and customer.</comment>
                </field>
            </group>

            <group id="vacation" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Seller Vacation</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
