<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orderupload>
            <view>
                <enabled>1</enabled>
                <file_type>jpg, png, zip, rar, docx, doc, pdf, jpeg</file_type>
                <max_file_size>10</max_file_size>
                <show_download>1</show_download>
                <show_comment>1</show_comment>
                <show_on_checkout>1</show_on_checkout>
                <show_on_viewoder_frontend>1</show_on_viewoder_frontend>
            </view>
        </orderupload>
    </default>
</config>
