<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <sun_settings>
            <general>
                <boxed>wide</boxed>
                <layout>1170</layout>
                <disable_border_radius>0</disable_border_radius>
            </general>
            <header>
                <header_type>1</header_type>
                <header_top>1</header_top>
                <show_position_language>left</show_position_language>
                <show_position_currency>left</show_position_currency>
                <heder_left_top_language>1</heder_left_top_language>
                <custom_static_block_header_top>block_header_top_right</custom_static_block_header_top>
                <show_position_static_header_top>right</show_position_static_header_top>
                <position_header_mid_left>logo</position_header_mid_left>
                <position_header_mid_center>search</position_header_mid_center>
                <position_header_mid_right>cart-login</position_header_mid_right>
                <custom_search_border_radius>0px</custom_search_border_radius>
                <custom_icon_search>search-8</custom_icon_search>
                <fontsize_icon_search>18px</fontsize_icon_search>
                <upload_image_id>default/ic-multistore.png</upload_image_id>
                <custom_icon_account>user</custom_icon_account>
                <custom_icon_youorder>box</custom_icon_youorder>
                <custom_icon_wishlist>heart-6</custom_icon_wishlist>
                <custom_icon_reviews>eye</custom_icon_reviews>
                <custom_icon_newsletter>mail-alt</custom_icon_newsletter>
                <custom_icon_bill>ok-squared</custom_icon_bill>
                <upload_image_cart_id>default/cart.png</upload_image_cart_id> 
            </header> 
        </sun_settings>
		<sun_design> 
			<font>
				<custom>0</custom>
			</font>
			<header>
				<custom_color_header_top>1</custom_color_header_top>
				<custom_background_color_header_top>#232f3e</custom_background_color_header_top>
				<custom_color_text_header_top_left>#999999</custom_color_text_header_top_left>
				<custom_hover_color_text_header_top_left>#ff9900</custom_hover_color_text_header_top_left>
				<custom_color_text_header_top_left_dropdown>#999999</custom_color_text_header_top_left_dropdown>
				<custom_hover_color_text_header_top_left_dropdown>#ffffff</custom_hover_color_text_header_top_left_dropdown>
				<custom_background_color_header_top_left_dropdown>#ffffff</custom_background_color_header_top_left_dropdown>
				<custom_border_color_header_top_left_dropdown>#cccccc</custom_border_color_header_top_left_dropdown>
				<custom_background_color_hover_header_top_left_dropdown>#ff9900</custom_background_color_hover_header_top_left_dropdown>
				<custom_color_text_header_top_right>#999999</custom_color_text_header_top_right>
				<custom_hover_color_text_header_top_right>#ff9900</custom_hover_color_text_header_top_right>
				<custom_border_color_text_header_top_right>#999999</custom_border_color_text_header_top_right>
				<custom_color_header_middle>1</custom_color_header_middle>
				<custom_background_color_header_milddle>#374250</custom_background_color_header_milddle>
				<custom_background_color_header_milddle_search>#ff9900</custom_background_color_header_milddle_search>
				<custom_text_color_allcategory_search>#a0a0a0</custom_text_color_allcategory_search>
				<custom_color_icon_allcategory_search>#333333</custom_color_icon_allcategory_search>
				<custom_hover_color_icon_allcategory_search>#ff9900</custom_hover_color_icon_allcategory_search>
				<custom_background_color_allcategory_search>#ffffff</custom_background_color_allcategory_search>
				<custom_background_color_input_search>#ffffff</custom_background_color_input_search>
				<custom_border_right_color_allcategory_search>#eeeeee</custom_border_right_color_allcategory_search>
				<custom_color_icon_search>#ffffff</custom_color_icon_search>  
				<custom_text_color_use_login>#cccccc</custom_text_color_use_login>
				<custom_border_color_use_login>#999999</custom_border_color_use_login>
				<custom_color_icon_arow_use_login>#ff9900</custom_color_icon_arow_use_login> 
				<custom_text_color_dropdown_use_login>##293544</custom_text_color_dropdown_use_login>
				<custom_hover_text_color_dropdown_use_login>#ffffff</custom_hover_text_color_dropdown_use_login>
				<custom_hover_background_color_dropdown_use_login>#ff9900</custom_hover_background_color_dropdown_use_login>
				<custom_background_color_dropdown_use_login>#ffffff</custom_background_color_dropdown_use_login>
				<custom_border_color_dropdown_use_login>#eeeeee</custom_border_color_dropdown_use_login>
				<custom_background_color_triangle_dropdown_use_login>#ffffff</custom_background_color_triangle_dropdown_use_login>  
				<custom_text_color_your_cart>#cccccc</custom_text_color_your_cart>
				<custom_hover_text_color_your_cart>#ff9900</custom_hover_text_color_your_cart>
				<custom_text_color_price_cart>#ffffff</custom_text_color_price_cart>
				<custom_text_color_count_cart>#ffffff</custom_text_color_count_cart>
				<custom_hover_text_color_count_cart>#ff9900</custom_hover_text_color_count_cart>
				<custom_background_color_count_cart>#ff9900</custom_background_color_count_cart>
				<custom_background_hover_color_count_cart>#ffffff</custom_background_hover_color_count_cart>
				<custom_background_color_dropdown_cart>#ffffff</custom_background_color_dropdown_cart>
				<custom_border_color_dropdown_cart>#bbbbbb</custom_border_color_dropdown_cart>
				<custom_background_color_button_checkout_dropdown_cart>#333333</custom_background_color_button_checkout_dropdown_cart>
				<custom_hover_background_color_button_checkout_dropdown_cart>#ff9900</custom_hover_background_color_button_checkout_dropdown_cart>
				<custom_border_color_button_checkout_dropdown_cart>#333333</custom_border_color_button_checkout_dropdown_cart>
				<custom_hover_border_color_button_checkout_dropdown_cart>#ff9900</custom_hover_border_color_button_checkout_dropdown_cart>
				<custom_text_color_button_checkout_dropdown_cart>#ffffff</custom_text_color_button_checkout_dropdown_cart>
				<custom_hover_text_color_button_checkout_dropdown_cart>#ffffff</custom_hover_text_color_button_checkout_dropdown_cart>
				<custom_text_color_dropdown_cart>#333333</custom_text_color_dropdown_cart>
				<custom_text_color_price_dropdown_cart>#000000</custom_text_color_price_dropdown_cart>
				<custom_text_color_name_product_dropdown_cart>#1979c3</custom_text_color_name_product_dropdown_cart>
				<custom_hover_text_color_name_product_dropdown_cart>#ff9900</custom_hover_text_color_name_product_dropdown_cart>
				<custom_icon_color_dropdown_cart>#000000</custom_icon_color_dropdown_cart>
				<custom_hover_icon_color_dropdown_cart>#ff9900</custom_hover_icon_color_dropdown_cart>
				<custom_text_view_cart_dropdown>#303030</custom_text_view_cart_dropdown>
				<custom_hover_text_view_cart_dropdown>#ff9900</custom_hover_text_view_cart_dropdown>
				<custom_background_color_triangle_dropdown_cart>#ffffff</custom_background_color_triangle_dropdown_cart>
				<custom_color_header_bottom>1</custom_color_header_bottom>
				<custom_background_color_header_bottom>#374250</custom_background_color_header_bottom>
				<custom_border_color_header_bottom>#232f3e</custom_border_color_header_bottom>
				<custom_color_text_menu>#444444</custom_color_text_menu>
				<custom_color_highlight_menu>#ff9900</custom_color_highlight_menu>	 
			</header>
			<footer>
				<footer_top_bgcolor>#3d4855</footer_top_bgcolor>
				<footer_top_color_title>#ffffff</footer_top_color_title>
				<footer_top_color>#dddddd</footer_top_color>
				<footer_middle_bgcolor>#3d4855</footer_middle_bgcolor>
				<footer_middle_color>#dddddd</footer_middle_color>
				<footer_middle_color_title>#ffffff</footer_middle_color_title>
				<footer_bottom_bgcolor>#3d4855</footer_bottom_bgcolor>
				<footer_bottom_color_title>#ffffff</footer_bottom_color_title>
				<footer_bottom_color>#dddddd</footer_bottom_color> 
			</footer>
		</sun_design>	
	</default>
</config>