/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-07-18 11:20:43 */


.swatch-option.image:hover:not(.disabled), .swatch-option.color:hover:not(.disabled){
	outline:#FF9900 !important;
}

.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3::before,
.follow-us .spin:hover::before,
.men-category .men-category-all .each-mca .each-mca-text > a:hover,
.product-info-main .product-social-links a:hover,
.action.primary:hover,
#form-validate .actions .continue:hover,
.draw-nb:hover::before,
#maincontent button:hover, #maincontent .cart.table-wrapper .actions-toolbar > .action:hover, #maincontent .cart.table-wrapper .action-gift:hover,
.magemenu-menu.vertical-menu .explodedmenu li.menu:hover{
	border-color:#FF9900 !important;
}

.theme-color,
.home-product-tab .home-product-tab-content ul.tabs li.current,
.home-product-tab .home-product-tab-content ul.tabs li:hover,
.brand #owl-demo-brand .item .item-content:hover,
a:hover, a:focus,
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3::before,
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3 > a,
.magemenu-menu.vertical-menu .explodedmenu li.show-cate a i,
.page-header.type1 .header-top .header-top-left .switcher:hover strong span,
.page-header.type1 .user-custom > span i,
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-top,
.page-header.type1 .ajaxsearch_ext .minisearch .control > button:hover,
.breadcrumbs ul li > strong,
.columns .sidebar-main #layered-filter-block .filter-options-item .filter-options-content .items .item:hover a,
a:hover > span,
.products ol li .product-item-info .product-item-details .price-final_price .price,
.qty .control .plus:hover,
.qty .control .minus:hover,
.magemenu-menu a.mm-product-name:hover strong,
.price-home span.normal, 
.draw-nb:hover,
.sales-order-history .actions-toolbar a:hover > span,
.actions-toolbar a.back:hover span,
.product-item .price-box .price,
.product-item-info .product-item-details .price-home .special,
#maincontent .columns .main .product-info-main .product-reviews-summary .rating-summary .rating-result > span::before,
#maincontent .columns .main .product-info-main .product-info-price .price-box .price-wrapper,
.magemenu-menu.vertical-menu .explodedmenu li.menu .explodedmenu-menu-popup h5,
.products-grid .rating-summary .rating-result > span::before{
	color:#FF9900 !important;
}

.page-header.type1 .ajaxsearch_ext .minisearch,
.home-product-tab.deal-product .home-product-tab-title h3,
.view-all,
.products-grid .actions-all a:hover,
.view-all:hover,
.navslider a:hover,
.magemenu-menu.vertical-menu .explodedmenu li.menu:hover,
.block-slider .inner .owl-controls .owl-pagination .owl-page.active,
.actions.dropdown.options.switcher-options ul li:hover, 
.user-custom .block-content ul li:hover,
.men-smbanner > div a:hover,
.tool-bar-top .toolbar-products .modes .active,
.tool-bar-bottom .toolbar-products .pages ul .current,
.tool-bar-bottom .toolbar-products .pages ul li:hover,
.action.primary:hover, 
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover,
.product-info-main .product-social-links a:hover span,
.product.data.items > .item.title > .switch:hover,
.product-info-main .product-social-links a:hover,
.action.primary:focus, .action.primary:active,
.product-info-main .product-social-links a:hover span, 
#form-validate .actions .update:hover,
.get-to-mul .each-icon .ab-icon,
li.subcate_list:hover,
.our-team .ot-content .our-text,
.timeline-year,
.account-nav .nav li.current > strong,
#maincontent button:hover, #maincontent .cart.table-wrapper .actions-toolbar > .action:hover, #maincontent .cart.table-wrapper .action-gift:hover,
.block-dashboard-info .block-content .box div .box-actions .edit:hover, .block-dashboard-addresses .block-content .box div .box-actions .edit:hover, .block-dashboard-info .block-content .box div .box-actions .change-password:hover, .block-dashboard-addresses .block-content .box div .box-actions .change-password:hover,
.abs-shopping-cart-items .action.continue:hover, .block-cart-failed .action.continue:hover, .cart-container .form-cart .action.continue:hover,
#shopping-cart-table tbody tr .qty .field .control input.minus:hover, #shopping-cart-table tbody tr .qty .field .control input.plus:hover,
.page-header.type1 .minicart-wrapper .action.showcart .counter.qty{
	background:#FF9900!important;}


a:hover,i:hover{
    color:#FF9900 !important;
}
  
/** end Sale Label Background Color    **/



/* Color Header Config Css */

















