<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2016 www.cmsmart.net
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cmsmart" class="cmsmart-config-tab" translate="label" sortOrder="9000">
            <label>Extensions</label>
        </tab>
        <section id="cmsmart_store" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Netbase Info</label>
            <tab>cmsmart</tab>
            <resource>Magento_Core::config_cmsmart_core</resource>
            <group id="information" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>Cmsmart\Core\Block\System\Config\Information</frontend_model>
            </group>
        </section>
    </system>
</config>
