.config-nav-block.cmsmart-config-tab strong:before {
	background: url(../images/cmsmart_logo.png) no-repeat;
	width: 83px;
	height: 20px;
	content: '';
	display: inline-block;
	margin-right: 12px;
	vertical-align: text-bottom;
}

#cmsmart_store_information h3 {
	color: #eb9d18;
	margin-bottom: 10px;
}

.cmsmart-follow ul li {
	float: left;
	list-style: none;
}
.cmsmart-follow .netbase_link{
	padding-left: 5px;
	margin-top: 10px;
}

