<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Cmsmart_Adminhtml::admin">
                <resource id="Cmsmart_Categoryicon::categoryicon" title="Categoryicon" sortOrder="40">
                    <resource id="Cmsmart_Categoryicon::manage" title="Categoryicon Module" sortOrder="10">
						<resource id="Cmsmart_Categoryicon::save" title="Save Categoryicon" sortOrder="10" />
                        <resource id="Cmsmart_Categoryicon::news_delete" title="Delete Categoryicon" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Cmsmart_Adminhtml::stores">
                    <resource id="Cmsmart_Adminhtml::stores_settings">
                        <resource id="Cmsmart_Adminhtml::config">
                            <resource id="Cmsmart_Categoryicon::config_categoryicon" title="Categoryicon Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
