<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cmsmart\Brandcategory\Controller\AbstractController\BrandcategoryLoaderInterface" type="\Cmsmart\Brandcategory\Controller\AbstractController\BrandcategoryLoader" />
</config>
