<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isItemsBlockExpanded() -->
<div class="nb-info">
    <table class="block items-in-cart cmsmart-items-wrapper-one" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <!--<div class="title" data-role="title">-->
            <!--<strong role="heading"><span data-bind="text: getItemsQty()"></span>-->
                <!--&lt;!&ndash; ko if: getItemsQty() == 1 &ndash;&gt;-->
                <!--&lt;!&ndash; ko i18n: 'Item in Cart' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; ko if: getItemsQty() > 1 &ndash;&gt;-->
                <!--&lt;!&ndash; ko i18n: 'Items in Cart' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--</strong>-->
        <!--</div>-->
        <div class="content minicart-items" data-role="content">
            <div class="cmsmart-minicart-items-wrapper-one minicart-items-wrapper overflowed">
                <ol class="minicart-items">
                    <!-- ko foreach: getItems() -->
                    <li class=" product-item">
                        <div class="product">
                            <!-- ko foreach: $parent.elems() -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </li>
                    <!-- /ko -->
                </ol>
            </div>
        </div>
    </table>
</div>
<!-- /ko -->
<!-- ko if: isItemsBlockExpanded() -->
<div class="nb-info">
    <table class="block items-in-cart cmsmart-items-wrapper-two" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': true}}">
        <!--<div class="title" data-role="title">-->
            <!--<strong role="heading"><span data-bind="text: getItemsQty()"></span>-->
                <!--&lt;!&ndash; ko if: getItemsQty() == 1 &ndash;&gt;-->
                <!--&lt;!&ndash; ko i18n: 'Item in Cart' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; ko if: getItemsQty() > 1 &ndash;&gt;-->
                <!--&lt;!&ndash; ko i18n: 'Items in Cart' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
                <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--</strong>-->
        <!--</div>-->
        <thead class="cmsmart-minicart-items-header">
            <th class="btn-delete"></th>
            <th class="column-img"></th>
            <th class="product-header-name"><span class="prod-name">Products Name</span></th>
            <th class="product-header-qty"><span class="prod-qty">Quanlity</span></th>
            <th class="product-header-price"><span class="prod-subtotal">SubTotal</span></th>
        </thead>
        <tbody class="content minicart-items" data-role="content">
            

                    <!-- ko foreach: getItems() -->
                    <tr class="cmsmart-minicart-items-wrapper-two  minicart-items-wrapper overflowed">
                                </tr>
                            <!-- ko foreach: $parent.elems() -->
                            <!-- ko template: getTemplate() -->
                            <!-- /ko -->
                            <!-- /ko -->
                    <!-- /ko -->

            
        </tbody>
    </table>
</div>
<!-- /ko -->
