<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Netbase_Sun::nb_all" title="Netbase" module="Netbase_Sun" sortOrder="10" resource="Netbase_Sun::all"/>
        <add id="Netbase_Sun::nb_theme" title="Netbase Theme 2.0.0" module="Netbase_Sun" sortOrder="10" parent="Netbase_Sun::nb_all" resource="Netbase_Sun::all"/>
        <add id="Netbase_Sun::theme_settings" title="Settings Panel" module="Netbase_Sun" sortOrder="10" parent="Netbase_Sun::nb_theme" action="adminhtml/system_config/edit/section/sun_settings" resource="Netbase_Sun::theme_settings"/>
		<add id="Netbase_Sun::theme_design" title="Design Panel" module="Netbase_Sun" sortOrder="20" parent="Netbase_Sun::nb_theme" action="adminhtml/system_config/edit/section/sun_design" resource="Netbase_Sun::theme_design"/>
    </menu>
</config>