<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Create our type DepartmentGridDataProvider -->
    <virtualType name="ProductvideoGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Netbaseteam\Productvideo\Model\Resource\Productvideo\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ProductvideoGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>
 
    <!-- Create our type DepartmentGridFilterPool -->
    <virtualType name="ProductvideoGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
 
    <!-- Type for jobs_department_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productvideo_index_listing_data_source" xsi:type="string">Netbaseteam\Productvideo\Model\ResourceModel\Productvideo\Collection</item>
            </argument>
        </arguments>
    </type>
 
    <!-- Simulate our class Netbaseteam\Productvideo\Model\ResourceModel\Grid\Productvideo\Collection -->
    <virtualType name="Netbaseteam\Productvideo\Model\ResourceModel\Productvideo\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_productvideo</argument>
            <argument name="resourceModel" xsi:type="string">Netbaseteam\Productvideo\Model\ResourceModel\Productvideo</argument>
        </arguments>
    </virtualType>
</config>