<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="MarketplaceFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\ProductInterface" type="Cmsmart\Marketplace\Model\Product" />
    <virtualType name="ProductDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Product\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_product</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\SellerInterface" type="Cmsmart\Marketplace\Model\Seller" />
    <virtualType name="SellerDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Seller\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Seller\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_seller</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Seller</argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\OrderInterface" type="Cmsmart\Marketplace\Model\Order" />
    <virtualType name="OrderDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Order\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Order\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_order</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Order</argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\TransactionInterface" type="Cmsmart\Marketplace\Model\Transaction" />
    <virtualType name="TransactionDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Transaction\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Transaction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_transaction</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Transaction</argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\VacationInterface" type="Cmsmart\Marketplace\Model\Vacation" />
    <virtualType name="VacationDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Vacation\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Vacation\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_vacation</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Vacation</argument>
        </arguments>
    </virtualType>

    <preference for="Cmsmart\Marketplace\Api\Data\LocationInterface" type="Cmsmart\Marketplace\Model\Location" />
    <virtualType name="LocationDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Cmsmart\Marketplace\Model\Resource\Location\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Cmsmart\Marketplace\Model\ResourceModel\Location\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cmsmart_marketplace_locator</argument>
            <argument name="resourceModel" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Location</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cmsmart_marketplace_product_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Product\Grid\Collection</item>
                <item name="cmsmart_marketplace_seller_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Seller\Grid\Collection</item>
                <item name="cmsmart_marketplace_order_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Order\Grid\Collection</item>
                <item name="cmsmart_marketplace_transaction_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Transaction\Grid\Collection</item>
                <item name="cmsmart_marketplace_vacation_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Vacation\Grid\Collection</item>
                <item name="cmsmart_marketplace_locator_listing_data_source" xsi:type="string">Cmsmart\Marketplace\Model\ResourceModel\Location\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Framework\Model\ActionValidator\RemoveAction" type="Magento\Framework\Model\ActionValidator\RemoveAction\Allowed" />
    
</config>
