<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="cmsmart_marketplace_checkout_observer" instance="Cmsmart\Marketplace\Observer\CheckoutObserver" />
    </event>

    <event name="sales_order_save_after">
        <observer name="cmsmart_marketplace_order_state_observer" instance="Cmsmart\Marketplace\Observer\SalesOrderState" />
    </event>

</config>
